# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# hdd Dir
hdd/bin/
hdd/boot/
hdd/home/local/
hdd/home/root/
hdd/etc/hostname

hdd/lib
hdd/opt

hdd/usr/bin
hdd/usr/etc
hdd/usr/i686-pc-toaru
hdd/usr/include
hdd/usr/lib
hdd/usr/libexec
hdd/usr/local
hdd/usr/man
hdd/usr/share/aclocal
hdd/usr/share/doc
hdd/usr/share/games
hdd/usr/share/gcc-4.6.*
hdd/usr/share/gtk-doc
hdd/usr/share/info
hdd/usr/share/locale
hdd/usr/share/man
hdd/usr/share/tabset
hdd/usr/share/terminfo
hdd/usr/share/vim
hdd/usr/share/icons/external
hdd/usr/share/fontconfig
hdd/usr/share/xml
hdd/usr/python
hdd/usr/gcc

# iso dir

*.img
/util/*.img
/util/*.vmdk
/util/*.vdi
/util/boot/boringos-kernel
/util/bin/

target/*


build/*
